* {
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  width: 100%;
  height:100%;
  overflow-x: hidden;/*Change made for left scroll*/
  margin:0;
  padding:0;
  background-color: #faf5e3;
  border-bottom:1px solid transparent;/*added to remove whitespace*/
  /* border:2px solid green; */
}
input:focus {
    outline: none;
    cursor: text;
    /* color: white; */
    /* font-size: 1.5rem; */
    /* font-family: 'Berkshire_Swash'; */
}
button{
  background: transparent;
  border: none;
}

button:focus {
    outline: none;
    border: none;

}
button:hover{
  cursor: pointer;
}
/* a:hover{
  cursor: pointer;
} */
@font-face {
  font-family: 'Berkshire_Swash';
  src: url('../Font/Berkshire_Swash/BerkshireSwash-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'Foco';
  src: url('../Font/foco-cufonfonts/FOCO.TTF') format("truetype");
}
@font-face {
  font-family:'FocoBold';
  src:url('../Font/foco-cufonfonts/FOCOBOLD.TTF') format("truetype");
}
/* remove arrow snipper from input type="number" element */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*removing arrow code ends*/

section{
  height: auto;
  width: 100%;
}
#section-home{
  height:58rem;
  width:auto;
  position:relative;
  background-image: url('../images/home_bg_2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* border:2px solid black; */
}
.logo{
  display: inline-block;
  position: absolute;
  height: 14rem;
  width:15rem;
  left:9px;
  /* border:2px solid black; */
}
.logo img{
  height:100%;
  width:100%;
}

.nav_bar{
  width:100%;
  height: 6rem;
  position: relative;
  top: 5px;
  padding-bottom: 2vw;

  /* border: 1px solid red; */

}
.nav_bar ul{
  list-style: none;
  display: inline-block;
  position: absolute;
  top: 4vh;
  left: 20%;/*18%*/
  font-size: 1.5rem;
}
.nav_bar a{
  text-decoration: none;
  font-family: "Berkshire_Swash";
  color: #4d1b54;
  padding-bottom: 15px;
}

.nav_tab {
  display: inline;
  padding: 0.7vw;
  text-align: center;
}
.nav_tab div{
  display: inline;
}
.nav_tab:hover{
  border: none;
  border-bottom: 2px solid #aa6227;
  border-radius: 2px;
}

.nav_tab:first-child{
  border: none;
  border-bottom: 2px solid #aa6227;
  border-radius: 2px;
}


/****/
.phone_no_input{
  position: relative;
  top: 50vh;
  left: 6vw;
  color: white;
  height: 50vh;
  width: 42vw;
  /* border: 2px solid; */
}

.dare_to_play{
  /* border: 1px solid lightgreen; */
  letter-spacing: 0.2vw;
  font-size: 5rem;
  font-family: "Berkshire_Swash";
}

.input-below{
  position: absolute;
  left:5rem;
  top:10rem;
  height: 3px;
  width: 30vw;
  border-radius: 5px;
  background-color: white;
}

#code{
  position: absolute;
  left:5rem;
  top:8rem;
  font-family: "Foco";
  letter-spacing: 0.1vw;
  font-size: 2rem;
}

.mob_no_input{
  position: absolute;
  left:9rem;
  top:8rem;
  background: transparent;
  border: none;
  opacity: 1;
  height: 5vh;
  width: 22vw;
  margin-top: 0.7vh;
  font-family: "Foco";
  color: white;
  font-size: 2rem;
}

.get_app_link_button{
  position: absolute;
  background-image: url('../images/get-app-link-buttonText.png');
  background-repeat: no-repeat;
  background-size: contain;
  /* height: 10vh;
  width: 17vw; */
  top: 30vh;
  left:10vw;
  height: 20vh;
  width: 20vw;
  /* border: 2px solid; */
}
.get_app_link_button button{
  position: absolute;
  top: 3vh;
  height: 10vh;
  width: 20vw;
  /* border: 2px solid blue; */
}
/***/
/*navbar header mobile starts*/
.drop-down{
  /* display: inline-block; */
  display: none;
  position: absolute;
  height: 9vh;
  width: 10vw;
  top: 10vh;
  right: 5%;
  border:2px solid red;
}
.drop-down img{
  height: 100%;
  width: 100%;
}
.drop-down button{
    height: 8vh;
    width: 9vw;
    border:2px solid aliceblue;
}
.ham-burger-icon{
  width: 35px;
  height: 5px;
  border-radius: 2px;
  background-color: orange;
  margin: 6px 0;
}
.nav-ham{
  /* display: none; */
  position: fixed;
  top: 0;
  height: 156vh;
  width: 0;
  transition: 0.5s;
  right: 0;
  overflow: hidden;
  z-index: 1;
}
.yellow-ham-img{
  /* bottom: 0; */
  display: inline-block;
  text-align: center;
  height: 148vh;
  width: 45.5vw;
}

.yellow-ham-img img{
  height: 100%;
  width: 100%;
}
.ham-cross{
  position: absolute;
  right: 0;
  top: 4vh;
  height: 6vh;
  width: 9vw;
  color: white;
}
.ham-cross img{
  height: 100%;
  width: auto;
}
.ham-cross button{
  height: 7vh;
  /* width: 9vw;
  border:2px solid red; */
}
.nav-ham-text{
  /* border: 1px solid green; */
  height: 120vh;
  left: 2vw;
  width: 41vw;
  position: relative;
  bottom: 139vh;
}
.nav-ham-list ul{
  position: absolute;
  height: 20vh;
  width: 30vw;
  /* border: 1px solid red; */
  /* text-decoration: none; */
}

.nav-ham-list > li{
  list-style: none;
}

.nav-ham-list > li > a{
  font-family: "Berkshire_Swash";
  /* font-size: 5.5vw; */
  letter-spacing: 0.2vw;
  color: #4d1b54;
  opacity: 1;
  font-size:1.5rem /*3.5vw*/;
  line-height: 12vh;
}

.ham-anchor > a{
  text-decoration: none;
}
.ham-nav-icons{
  display: inline-block;
  /* border: 1px solid red; */
  height: 10vh;
  width: 7vw;
  position: relative;
  top: 5vh;
  margin-right: 2vw;
}

/*navbar header mobile ends*/

/* feature section css starts */
.features{
  position:relative;
  height:200vh;
  width: 100%;
  background-image: url('../images/features-section.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top:-21vh;
  z-index:-1;
  /* border:2px solid brown; */
}
.features-heading{
    position: absolute;
    /* height: auto; */
    width:100%;
    /* width: 35vw; */
    font-size: 5rem;
    font-family: "Berkshire_Swash";
    letter-spacing: 0.2vw;
    color: #4d1b54;
    text-align: center;
    top: 20vh;
    /* border: 1px solid black; */
}
.instant-withdrawl{
    position: absolute;
    height: 40vh;
    width: 36vw;
    left: 54vw;
    top: 46vh;
    /* border: 1px solid black; */
}
.win-real-cash{
  position: absolute;
  height: 45vh;
  width: 38vw;
  left: 9vw;
  top: 118vh;
  /* border: 1px solid black; */

}
.heading{
  font-size: 3rem;
  font-family: "Berkshire_Swash";
  letter-spacing: 0.2vw;
  color: #eb5b25;
  text-align: center;
  line-height: 12vh;

}
.body{
  position: absolute;
  top:20vh;
  font-size: 1.8rem;
  font-family: "Foco";
  letter-spacing: 0.2vw;
  color: black;
  text-align: center;
}


/* feature section css ends */

/* testimonial section css starts */
.testimonials{
  position:relative;
  height:200vh;
  width: 100%;
  background-image: url('../images/testimonial-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: -52vh;
  /* border:2px solid red; */
}
.testimonials-heading{
  position: absolute;
    height: auto;
    width: 100%;
    font-size: 5rem;
    font-family: "Berkshire_Swash";
    letter-spacing: 0.2vw;
    color: #4d1b54;
    text-align: center;
    /* margin-top: 32vh; */
    top:30vh;
    /* border: 1px solid black; */
}
.testimonial-1{
  display: block;
  position: absolute;
  height: 64vh;
  width: 20vw;
  top: 60vh;
  left: 8vw;
  background-image: url('../images/testimonial-1,3-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 25px #231f20;
  border-radius: 40px;
  /* border:2px solid green; */

}
/* .testimonial-1 img{
  height: 100%;
  width:100%;
} */
.testimonial-2{
  display: block;
  position: absolute;
  height: 64vh;
  width: 20vw;
  top: 60vh;
  left: 39vw;
  background-image: url('../images/testimonial-2-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 25px #231f20;
  border-radius: 27px;
  /* border:2px solid green; */
}
.testimonial-3{
  display: block;
  position: absolute;
  height: 64vh;
  width: 20vw;
  top: 60vh;
  left: 70vw;
  background-image: url('../images/testimonial-1,3-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 25px #231f20;
  border-radius: 27px;
  /* border:2px solid green; */
}
.photo{
  position: absolute;
  height: 24vh;
  width: 12vw;
  top: 2vh;
  left: 4.4vw;
  /* border: 2px solid black; */
}
.photo img{
  height:100%;
  width:100%;
}
.text{
  position: absolute;
  height: 28vh;
  left: 0.8vw;
  width: 18vw;
  top: 30vh;
  font-family: "Foco";
  text-align: center;
  /* border: 2px solid black; */
}
.text-heading{
  font-size: 1.8rem;
  letter-spacing: 0.2vw;
  color: #faf5e3;
  font-weight: bold;
}
.text-body{
  position: absolute;
  top: 10vh;
  font-size: 1.2rem;
  letter-spacing: 0.2vw;
  color: #faf5e3;
  font-weight: bold;
}
.text-heading-test2{
  font-size: 1.8rem;
  letter-spacing: 0.2vw;
  color: black;
  font-weight: bold;
}
.text-body-test2{
  position: absolute;
  top: 10vh;
  font-size: 1.2rem;
  letter-spacing: 0.2vw;
  color: black;
  font-weight: bold;
}
/* mobile view testimonial starts */
.aboutus-leftarrow{
  display:none;
  position: absolute;
  height:4rem;
  width:5.5%;
  top:85vh;
  left:0.5vw;
  background-image: url('../images/arrow-left.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* border:2px solid red; */
}
.aboutus-leftarrow button{
  position: absolute;
  height:4rem;
  width:100%;
  /* top:1vh;
  left:0.5vw; */
  /* border:2px solid black; */
}
.aboutus-rightarrow{
  display: none;
  position: absolute;
  height:4rem;
  width:5.5%;
  top:85vh;
  left:94vw;
  background-image: url('../images/arrow-right.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* border:2px solid red; */
}
.aboutus-rightarrow button{
  position: absolute;
  height:4rem;
  width:100%;
  /* top:1vh;
  left:93vw; */
  /* border:2px solid black; */
}
.image-center-section{
  display: none;
}
/* .image-section{
  display:none;
} */
/*Adding over class to reduce opacity of arrow*/
.over{
  opacity:0.2;
}
/*Adding over class to reduce opacity of arrow ends*/
/* mobile view testimonial ends */
/* testimonial section css sends */

/* download section css starts */
.downloads{
  position:relative;
  height:334vh;/*334*/
  width: 100%;
  background-image: url('../images/dowload-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  top: -112vh;
  z-index:-1;
  /* border:2px solid blue; */
}
.downloads-heading{
  position: absolute;
  height: 28vh;
  width: 28vw;
  left: 38vw;
  top: 40vh;
  /* border: 1px solid black; */
}
.downloads-heading img{
  height:100%;
  width:100%;
}
.game-screen{
  position: absolute;
  height: 160vh;
  width: 98%;
  top: 70vh;
  left:1vw;
  /* border:2px solid black; */
}
.game-screen1{
  display: block;
  position: absolute;
  height: 100vh;
  width: 27vw;
  top: -4vh;
  left: -3vw;
  background-image: url('../images/game-screen1.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* border: 2px solid green; */
}
.game-screen2{
  display: block;
  position: absolute;
  height: 104vh;
  width: 29vw;
  top: 25vh;
  left: 20vw;
  background-image: url('../images/game-screen2.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* border: 2px solid green; */
}
.game-screen3{
  display: block;
  position: absolute;
  height: 104vh;
  width: 28.5vw;
  top: 45vh;
  left: 44vw;
  background-image: url('../images/game-screen3.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* border: 2px solid green; */
}
.game-screen4{
  display: block;
  position: absolute;
  height: 100vh;
  width: 28vw;
  top: 1vh;
  left: 70vw;
  background-image: url('../images/game-screen4.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* border: 2px solid green; */
}
/* download section css ends */

/* contact section css starts */
.contact-section{
  /* display: block; */
  position:relative;
  height:215vh/*334vh*/;
  width: 100%;
  /* left:20vw; */
  background-image: url('../images/contact-us-bg(pc).png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: -165vh;
  /* z-index:-1; */
  /* border:2px solid yellow; */
}

.contact-heading{
  position: absolute;
  height: auto;
  width: 100%;
  font-size: 5rem;
  font-family: "Berkshire_Swash";
  letter-spacing: 0.2vw;
  color: #4d1b54;
  text-align: center;
  /* margin-top: 32vh; */
  top:40vh;
  /* border: 1px solid black; */

}

.form-in{
  position: absolute;
  top:71vh/*80vh*/;
  left:5vw;
  width: 90%;
  /* border:2px solid black; */
}
.contact-form{
  width: 100%;
}

.name-n-mobile{
  display:flex;
  width: 100%;
  justify-content:space-between;
}
.contact-name-mobile{
  display:inline-block;
  width: 42%;
}

.nam-mob-head{
  letter-spacing: 0.2vw;
  font-size: 2rem;/*2.5vw*/
  font-family: 'Berkshire_Swash';
  color: #4d1b54;
  margin-bottom: -7px;
}
.n-m-input{
  background: transparent;
  border-color: #4d1b54;

  border-radius: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  opacity: 1;
  height: 40px;
  width: 100%;
  font-family: 'Foco';
  color: #4d1b54;
  font-size: 1.4rem;
  padding-top: 14px;
}

.form-heading-internal{

  letter-spacing: 0.2vw;
  font-size: 2rem;
  font-family: 'Berkshire_Swash';
  color: #4d1b54;
}

#email-head{
  margin-bottom: 10px;
}
#message-head{
  margin-bottom: 50px;
}
.email-message{
  background: transparent;
  border-color: #4d1b54;

  border-radius: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  opacity: 1;
  height: 40px;
  width: 100%;
  margin-top:-20px;
  font-family: 'Foco';
  color: #4d1b54;
  font-size:1.4rem;
}

.submit-button{
  position: absolute;
  left:35vw;
  top:70vh;
  width: 22vw;
  height:15vh;
  background: transparent;
  text-align: center;
  /* border:2px solid black; */
}
.submit-button button{
  background: transparent;
  border: none;
}
.submit-button img{
  width: 100%;
  height: 100%;
}
.submit-button button:hover{
  cursor: pointer;
}
/* contact section css ends */

/*footer section css starts*/
.footer-1{
  position:relative;
  height:100vh;
  width: 100%;
  background-image: url('../images/footer-bg-with-image.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: -223vh;
  /* z-index:-4; */
  margin-bottom:-223vh;/*to remove whitespace after footer section*/
  border:2px solid blue;
}
.footer-text{
  position: absolute;
  top:52vh;
  left:25vw;
  height: 40vh;
  width:50%;
  /* border:2px solid black; */
}
.email{
  position: absolute;
  /* top:10vh; */
  left:11vw;
  height: 10vh;
  width:70%;
  /* border:2px solid green; */
}
.email-img{
  position: absolute;
  height:8vh;
  width:5vw;
  /* border:1px solid red; */
}
.email-img img{
  height:100%;
  width:100%;
}
.email-text{
  position: absolute;
  height:10vh;
  width:25vw;
  left:6vw;
  font-size: 2rem;
  font-family: "Berkshire_Swash";
  /* color:#4d1b54; */
  /* border:1px solid red; */
}
.email-text a{
  text-decoration: none;
  color:#4d1b54;
}

.social-media-icons{
  position: absolute;
  top:10vh;
  left:12vw;
  height: 15vh;
  width:70%;
  /* border:2px solid green; */
}
.twitter{
  position: absolute;
  height:10vh;
  width:4.8vw;
  left:6vw;
  top:3vh;
  /* border:2px solid red; */
}
.twitter img{
  height:100%;
  width:100%;
}
.facebook{
  position: absolute;
  height:10vh;
  width:4.8vw;
  left:12vw;
  top:3vh;
  /* border:2px solid blue; */
}
.facebook img{
  height:100%;
  width:100%;
}
.insta{
  position: absolute;
  height:10vh;
  width:4.8vw;
  left:18vw;
  top:3vh;
  /* border:2px solid violet; */
}
.insta img{
  height:100%;
  width:100%;
}
.copyright{
  position: absolute;
  top:30vh;
  left:10vw;
  height: 15vh;
  width:70%;
  /* border:2px solid green; */
}
.copyright-text{
  position: absolute;
  /* top:30vh; */
  /* left:10vw; */
  /* height: 15vh; */
  width:100%;
  font-size: 1.8rem;
  font-family: "Foco";
  color:#4d1b54;
  /* border:2px solid red; */
}
.copyright-text-comely{
  position: absolute;
  top:6vh;
  left:1vw;
  width:100%;
  font-size: 1.8rem;
  font-family: "Foco";
  color:#4d1b54;
  /* border:2px solid blue; */
}
/*footer section css ends*/

/* snackbar css starts */
#snackbar{
  background-image: url('../images/header-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color:black;
  min-width: 300px;
  color:#4d1b54;
  text-align: center;
  /* padding:80px 20px; */
  padding:20px 20px;
  position: fixed;
  left:38%;
  /* bottom:10rem; */
  bottom:3rem;
  font-size: 1.5rem;
  border-radius: 20px;
  font-family: 'Berkshire_Swash';
  visibility: hidden;
}
#snackbar.show {
  visibility: visible;
  /* -webkit-animation: fadein 1s, fadeout 0.5s 2.5s
  animation: fadein 1s, fadeout 0.5s 2.5s */
}

#snackbar1{
  background-image: url('../images/header-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color:black;
  min-width: 300px;
  color:#4d1b54;
  text-align: center;
  /* padding:80px 20px; */
  padding:20px 20px;
  position: fixed;
  /* bottom:10rem; */
  left:38%;
  bottom:3rem;
  font-size: 1.5rem;
  border-radius: 20px;
  font-family: 'Berkshire_Swash';
  visibility: hidden;
}
#snackbar1.show {
  visibility: visible;
  /* -webkit-animation: fadein 1s, fadeout 0.5s 2.5s
  animation: fadein 1s, fadeout 0.5s 2.5s */
}
/* snackbar css ends */


@media only screen and (max-width: 760px){
  #section-home {
    height: 57rem;
    background-image: url('../images/bg(phone).png');

  }
  .logo {
    height: 11rem;
    width: 11rem;
  }
  .nav_bar{
    display: none;
  }
  .drop-down{
    display: inline-block;
  }
  .phone_no_input {
    top: 72vh;
    height: 55vh;
    width: 58vw;
  }
  .dare_to_play {
    font-size: 4rem;
  }
  #code {
    left: 2rem;
    top: 7rem;
  }
  .input-below {
    left: 3rem;
    top: 9.5rem;
    width:43vw;
  }
  .mob_no_input {
    left: 7rem;
    top: 7rem;
    width: 30vw;
  }
  .get_app_link_button {
    width: 35vw;
    left: 10vw;
    top:36vh;
    height:23vh;
  }
  /* features section css starts */
  .features{
    height:252vh;
    top:-25vh;
    background-image: url('../images/features(phone).png');
    /* border:2px solid brown; */
  }
  .features-heading{;
      font-size: 4rem;
      top: 20vh;
  }
  .instant-withdrawl{
      height: 40vh;
      width: 43vw;
      left: 30vw;
      top: 90vh;
      /* border: 1px solid black; */
  }
  .win-real-cash{
    position: absolute;
    height: 45vh;
    width: 52vw;
    left: 27vw;
    top: 180vh;
    /* border: 1px solid black; */
  }
  .heading{
    font-size: 2rem;
    line-height: 12vh;
  }
  .body{
    top: 13vh;
    font-size: 1.8rem;
  }
  /* feature section css ends */
  /* testimonial section css starts */
  .testimonials {
    top: -56vh;
    /* border: 2px solid red; */
  }
  .testimonials-heading {
    font-size: 4rem;
  }
  .testimonial-1{
    display: block;
    height: 71vh;
    width: 31vw;
    top: 60vh;
    /* left:6vw; */
    left: 35vw;
    /* border:2px solid green; */
  }
  .testimonial-2{
    display:none;
    height: 71vh;
    width: 31vw;
    top: 60vh;
    left:/* 70vw;*/40vw;
    border:2px solid green;

  }
  .testimonial-3{
    display:none;
    height: 71vh;
    width: 31vw;
    top: 60vh;
    left: /*105vw;*/60vw;
    border:2px solid green;

  }
  /* testimonial carousel STARTS */
  .image-center-section{
    position: absolute;
    display: block;
    height: 71vh;
    width: 87vw;/*31vw;*/
    top: 60vh;
    left: /*35vw;*/6vw;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    /* border:2px solid red; */
  }

  /* testimonial carousel ends */
  .photo {
    height: 26vh;
    width: 17vw;
    top: 2vh;
    left: 7.4vw;
  }
  .text {
    width: 29vw;
    /* border: 2px solid black; */
  }
  .aboutus-leftarrow{
    display: block;
  }
  .aboutus-rightarrow{
    display: block;
  }

  /* testimonial section css ends */
  /* download section css starts */
  .downloads {
    top: -116vh;
    z-index: -1;
    /* border: 2px solid blue; */
  }
  .downloads-heading {
    height: 25vh;
    width: 43vw;
    left: 31vw;
    top: 33vh;
  }
  .game-screen1{
    display: none;
  }
  .game-screen2 {
    height: 111vh;
    width: 45vw;
    top: -10vh;
    left: 5vw;
    /* border: 2px solid green; */
  }
  .game-screen3 {
    height: 114vh;
    width: 45.5vw;
    top: 31vh;
    left: 49vw;
    /* border: 2px solid green; */
  }
  .game-screen4{
    display: none;
  }
  /* download section css ends */
  /* contact section css starts */
  .contact-section {
    background-image: url('../images/contact-us-bg(phone).png');
    top: -155vh;
  }
  .contact-heading {
    font-size: 4rem;
  }
  .submit-button {
    left: 33vw;
    top: 79vh;
    width: 31vw;
    /* border: 2px solid black; */
  }
  /* contact section css ends */
  /* footer section css starts */
  .footer-1 {
    top: -204vh;
  }
  .email {
    left: 2vw;
  }
  .email-img {
    height: 6vh;
    top: 1vh;
  }
  .email-text {
    font-size: 1.8rem;
  }
  .social-media-icons {
    left: 14vw;
    height: 14vh;
    width: 41%;
    /* border: 2px solid green; */
  }
  .twitter{
    height: 9vh;
    width:5.8vw;
    top:2vh;
    left:0vw;
  }
  .facebook{
    height: 9vh;
    width:5.8vw;
    top:2vh;
    left:7vw;
  }
  .insta{
    height: 9vh;
    width:5.8vw;
    top:2vh;
    left:14vw;
  }
  .copyright {
    /* top: 25vh; */
    left: 0vw;
    height: 15vh;
    width: 100%;
    /* border: 2px solid green; */
  }
  .copyright-text {
    width: 100%;
    font-size: 1.5rem;
    /* border: 2px solid red; */
  }
  .copyright-text-comely {
    font-size: 1.5rem;
    /* border: 2px solid blue; */
  }
  /* footer section css ends */
  #snackbar {
    left: 32%;
  }
  #snackbar1 {
    left: 32%;
  }

}

@media only screen and (max-width: 414px){
.drop-down {
    height: 7vh;
    width: 14vw;
    top: 6vh;
    right: 5%;
}
.drop-down button {
    height: 6vh;
    width: 13vw;
}
.logo {
    height: 8rem;
    width: 9rem;
}
#section-home {
    height: 41rem;
    background-image: url('../images/bg(phone).png');
}
.ham-cross {
    /* position: absolute; */
    right: 27px;
    top: 3vh;
    height: 11vh;
    width: 18vw;
    border: 2px solid red;
}
.ham-cross button {
  height: 5vh;
  width: 11vw;
  border: 2px solid #00ff70;
  right: 9px;
  position: absolute;
}
.nav-ham-list > li > a {
    font-size: 1.3rem;
    line-height: 4rem;
}
.phone_no_input {
    top: 33vh;
    height: 26vh;
    width: 89vw;
    border:2px solid;
}
.dare_to_play {
    font-size: 3rem;
}
#code {
    top: 5rem;
    font-size:1.8rem;
}
.input-below {
    top: 7.5rem;
    width: 54vw;
}
.mob_no_input {
    left: 6rem;
    top: 4.6rem;
    width: 43vw;
    font-size:1.8rem;
}
.get_app_link_button button {
    height: 8vh;
    width: 50vw;
    top:0vh;
    border: 2px solid blue;
}
.get_app_link_button {
    width: 50vw;
    left: 9vw;
    top: 17vh;
    height: 11vh;
    border:2px solid;
}
.features {
    height: 161vh;
    top:-21vh;
    border: 2px solid brown;
}
.features-heading {
    font-size: 3rem;
    top: 18vh;
}
.instant-withdrawl {
  height: 19vh;
  width: 71vw;
  left: 15vw;
  top: 59vh;
  border: 1px solid black;
}
.heading {
    /* font-size: 2rem; */
    line-height: 5vh;
}
.body {
    top: 8vh;
    font-size: 1.5rem;
}
.win-real-cash {
  height: 20vh;
  width: 74vw;
  left: 14vw;
  top: 114vh;
  border: 1px solid black;
}
.testimonials{
  top:-47vh;
  height: 131vh;
}
.testimonials-heading {
    font-size: 3.5rem;
    top:21vh;
}
.image-center-section {
    height: 51vh;
    width: 81vw;
    top:34vh;
    left:9vw;
}
.testimonial-1 {
    height: 46vh;
    width: 50vw;
    top: 36vh;
    left: 25vw;
}
.photo {
    height: 16vh;
    width: 25vw;
    top: 1vh;
    left: 13.4vw;
}
.text {
    width: 44vw;
    left: 3.8vw;
    top:16vh;
    border: 2px solid black;
}
.aboutus-leftarrow {
    width: 8.5%;
    top: 52vh;
    left:1.5vw;
}
.aboutus-rightarrow {
    width: 8.5%;
    top: 52vh;
    left:90vw;
}
.downloads {
    height: 179vh;
    background-size: 133% 100%;
}
.downloads-heading {
    height: 14vh;
    width: 51vw;
    left: 25vw;
    top: 49vh;
}
.game-screen {
  height: 56vh;
  top: 60vh;
    border: 2px solid black;
}
.game-screen2 {
  height: 45vh;
  width: 51vw;
  top: 0vh;
  left: 0vw;
    border: 2px solid green;
}
.game-screen3 {
  height: 48vh;
  width: 53.5vw;
  top: 9vh;
  left: 43vw;
    border: 2px solid green;
}
.contact-section {
    top: -139vh;
    height: 115vh;
    border:2px solid yellow;
}
.contact-heading {
    font-size: 3rem;
    top:15vh;
}
.form-in {
    top: 30vh;
    border: 2px solid black;
}
.submit-button {
    left: 24vw;
    top: 45vh;
    width: 45vw;
    height:8vh;
    border: 2px solid black;
}
.nam-mob-head {
    font-size: 1.6rem;
}
.form-heading-internal {
    font-size: 1.6rem;
}
.footer-1 {
    top: -166vh;
    height:48vh;
}
.footer-text {
    top: 22vh;
    height: 21vh;
    width: 69%;
    left:16vw;
    border: 2px solid black;
}
.email {
    height: 5vh;
    width: 93%;
    border: 2px solid green;
}
.email-img {
    height: 3vh;
    top: 0.4vh;
}
.email-text {
    font-size: 1.2rem;
}
.twitter {
    height: 6vh;
    width: 6.8vw;
    top: 0vh;
}
.facebook {
    height: 6vh;
    width: 6.8vw;
    top: 0vh;
}
.insta {
    height: 6vh;
    width: 6.8vw;
    top: 0vh;
}
.social-media-icons {
    height: 7vh;
    top:5vh;
    border: 2px solid green;
}
.copyright {
    top: 12vh;
    height: 8vh;
    border: 2px solid green;
}
.copyright-text {
    font-size: 1.1rem;
}
.copyright-text-comely {
    font-size: 1.1rem;
    top:4vh;
    /* border: 2px solid blue; */
}
#snackbar {
    left: 15%;
    bottom:20rem;
    font-size: 1.3rem;
}
#snackbar1 {
  left: 15%;
  bottom:20rem;
  font-size: 1.3rem;
}
}/*414px ends*/
@media only screen and (max-width: 375px){
  .phone_no_input {
      top: 36vh;
      height: 30vh;
      width: 89vw;
  }
  .get_app_link_button {
    width: 50vw;
    top: 19vh;
    height: 11vh;
  }
  .get_app_link_button button {
    height: 10vh;
  }
  .mob_no_input {
    left: 5rem;
  }
  .instant-withdrawl {
    width: 78vw;
    left: 12vw;
  }
  .text {
    width: 48vw;
    left: 0.5vw;
  }
  .text-heading {
    font-size: 1.5rem;
  }
  .text-body {
    top: 9vh;
    font-size: 1rem;
  }
  .form-in {
    top: 27vh;
  }
  .submit-button {
    top: 49vh;
  }
  #snackbar #snackbar1 {
    left: 11%;
    bottom: 9rem;
    font-size: 1.3rem;
  }
  .footer-text {
    width: 76%;
    left: 10vw;
  }
  .email {
    width: 78%;
    left:9vw;
  }
  .social-media-icons {
    left: 26vw;
    width: 31%;
  }
}/*375px ends*/
@media only screen and (max-width: 360px){
  #code {
    left: 1rem;
  }
  .mob_no_input {
    left: 4rem;
    top:4.7rem;
    width:45vw
    /* border: 2px solid red; */
  }
  .input-below {
    width: 55vw;
    left:2rem;
  }
  .features {
    height: 168vh;
  }
  .instant-withdrawl {
    width: 79vw;
  }
  .win-real-cash {
    top: 118vh;
  }
  .footer-text {
    width: 78%;
    left: 8vw;
  }
  #snackbar {
    left: 10%;
    bottom: 6rem;
    padding: 7px 20px;
  }
  #snackbar1 {
    left: 10%;
    bottom: 6rem;
    padding: 7px 20px;
  }
}/*360px ends*/
